@model IEnumerable<PizzaBoxWeb.Models.PizzaViewModel>


@{
    ViewData["Title"] = "Create";
    TempData.Keep("Username");
    TempData.Keep("Store");
    TempData.Keep("Orderid");
    TempData.Keep("Total");
}

<h4>@TempData["Username"].ToString() Ordering from @TempData["Store"].ToString() Order Number @TempData["Orderid"].ToString()</h4>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crust)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraCheese)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bacon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pepperoni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mozzerella)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sausage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pineapple)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Onion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chicken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pepper)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Crust)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtraCheese)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bacon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pepperoni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mozzerella)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sausage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pineapple)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Onion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chicken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pepper)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a class="btn btn-primary btn-lg" asp-controller="PizzaOrder" asp-action="MorePies" role="button">Add Another Pizza!</a>
</div>

<div>
    <span> Order Total: @TempData["Total"].ToString() </span>

    <span><a onclick="checkOrder()" class="btn btn-primary btn-lg" asp-controller="PizzaOrder" asp-action="Submit" role="button">Submit Order!</a></span>

    <span><a class="btn btn-primary btn-lg" asp-controller="Pizza" asp-action="DeletePizzas" role="button"> Cancel Order :(</a></span>

</div>
<script>
    checkOrder(){

        


        };
</script>